.main-waf {
  height: 57vh;
  width: 31vw;
}
.song-Img1{
  transform: rotate(180deg);
}
.progress-baar {
  height: 5px;
}
.progress-baar-width {
  width: 0px;
  height: 12px;
}
.o-icon-F {
  color: red;
}
.border-bottom {
  border-bottom: solid 1px #8d8d8d;
  padding: 0 0 7px 0px;
}
.play-list-hide {
  display: none;
}
.play-list-toogle {
  top: -300px;
  animation: animate 0.5s linear;
}
@keyframes animate {
  0% {
    top: 0px;
  }
  100% {
    top: -300px;
  }
}

